body{
	background: url('img/bg1.png'), url('img/bg2.png'), url('img/background.jpg');
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
	background-attachment: fixed, fixed;
    background-size: auto, auto, 100%;
	background-color: rgb(181, 181, 255);
}
.container{
    background: rgba(255, 255, 255, 0.9);
}
.row{
    text-align: center;
}
.fix{
    text-align: center;
    color: blue;
    font-size: 30pt;
    font-family: comic sans MS;
}
.contain{
    font-size: 15pt;
}
.myself{
    padding-left: 25%;
}
.judul{
    text-align: center;
}